@model IEnumerable<WebQuanLyQuanTraSua.Models.TAIKHOANKH>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

<h2>Thiết Lập Tài Khoản Cho Khách Hàng</h2>

<p>
    <div class="btn btn-default">
        @Html.ActionLink("Thêm mới", "Create")
    </div>
    <div class="btn btn-default">
        @Html.ActionLink("Danh sách khách hàng", "Index", "KHACHHANGs")
    </div>
</p>



<table class="table">
    <tr>
        <th>
            Tài khoản:
        </th>
        <th>
            Mật khẩu:
        </th>
        <th>
            Họ và tên:
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pass)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KHACHHANG.TenKH)
            </td>
            <td>
                @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.MaKH }) |
                @Html.ActionLink("Chi tiết", "Details", new { id = item.MaKH }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.MaKH })
            </td>
        </tr>
    }

</table>
