@model WebQuanLyQuanTraSua.Models.PHANCA

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

<h2>Xóa</h2>

<h3>Bạn chắc muốn xóa chứ?</h3>
<div>
    <h4>PHANCA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NgayLamViec)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayLamViec)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GioLamViec)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GioLamViec)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CHINHANH.TenCN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CHINHANH.TenCN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NHANVIEN.TenNV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NHANVIEN.TenNV)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Delete" class="btn btn-default" />
    <div class="btn btn-default">
        @Html.ActionLink("Trở về danh sách", "Index")
    </div>
    </div>
    }
</div>
