@{
    if ((string)(Session["quyen"]) != "1")//Nếu không phải quản lý
    {
        //Thì sẽ chuyển đến trang Login
        Response.Redirect("/Login/Login");
    }

}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="~/Content/Admin/production/images/favicon.ico" type="image/ico" />

    <title>Hệ Thống Quản Lý Cửa Hàng Trà Sữa | </title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- Bootstrap -->
    <link href="~/Content/Admin/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/Content/Admin/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/Content/Admin/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="~/Content/Admin/vendors/iCheck/skins/flat/green.css" rel="stylesheet">

    <!-- bootstrap-progressbar -->
    <link href="~/Content/Admin/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="~/Content/Admin/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <!-- bootstrap-daterangepicker -->
    <link href="~/Content/Admin/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="~/Content/Admin/build/css/custom.min.css" rel="stylesheet">
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="/Home/Index" class="site_title"><i class="fa fa-coffee"></i> <span>DoubleTee</span></a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <img src="~/Content/Home/images/@Session["HinhAnh"]" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Xin chào,</span>
                            <h2>@Session["UserName"]</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>General</h3>
                            <ul class="nav side-menu">
                                <li><a href="/CHINHANHs/Index"><i class="fa fa-home"></i>Chi nhánh</a></li>
                                <li><a href="/QUANLies/Index"><i class="fa fa-empire"></i>Quản lý</a></li>
                                <li><a href="/MENUs/Index"><i class="fa fa-book"></i>Menu</a></li>
                                <li><a href="/NHANVIENs/Index"><i class="fa fa-user"></i>Nhân viên</a></li>
                                <li><a href="/KHACHHANGs/Index"><i class="fa fa-angellist"></i>Khách hàng</a></li>
                                <li><a href="/KHACHHANGLAs/Index"><i class="fa fa-angellist"></i>Khách vãng lai</a></li>
                                <li><a href="/PHANCAs/Index"><i class="fa fa-calendar"></i>Phân ca nhân viên</a></li>
                                <li><a href="/HOADONs/Index"><i class="fa fa-shopping-cart"></i>Hóa đơn</a></li>

                            </ul>
                        </div>
                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Settings">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Lock">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Logout" href="https://localhost:44310/Home/Logout">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="/QUANLies/Index" class="user-profile">
                                    <img src="~/Content/Home/images/@Session["HinhAnh"]" alt="">
                                    <span class="fa fa-angle"></span> @Session["UserName"]
                                </a>

                            </li>

                        </ul>

                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->

            <div class="right_col" role="main">
                <!-- top tiles -->
                @RenderBody()
                <!-- /top tiles -->
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    Huỳnh Nhựt Thiên - 18110203 && Đinh Minh Thiện - 18110205</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>

    <!-- jQuery -->
    <script src="~/Content/Admin/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/Content/Admin/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="~/Content/Admin/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/Content/Admin/vendors/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="~/Content/Admin/vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="~/Content/Admin/vendors/gauge.js/dist/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="~/Content/Admin/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="~/Content/Admin/vendors/iCheck/icheck.min.js"></script>
    <!-- Skycons -->
    <script src="~/Content/Admin/vendors/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="~/Content/Admin/vendors/Flot/jquery.flot.js"></script>
    <script src="~/Content/Admin/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="~/Content/Admin/vendors/Flot/jquery.flot.time.js"></script>
    <script src="~/Content/Admin/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="~/Content/Admin/vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="~/Content/Admin/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="~/Content/Admin/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="~/Content/Admin/vendors/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="~/Content/Admin/vendors/DateJS/build/date.js"></script>
    <!-- JQVMap -->
    <script src="~/Content/Admin/vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="~/Content/Admin/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="~/Content/Admin/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="~/Content/Admin/vendors/moment/min/moment.min.js"></script>
    <script src="~/Content/Admin/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="~/Content/Admin/build/js/custom.min.js"></script>


    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
