@model WebQuanLyQuanTraSua.Models.KHACHHANGLA

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>KHACHHANGLA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HoTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoTen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailKH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoDienThoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoDienThoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaChiKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChiKH)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaKHLA }) |
    @Html.ActionLink("Back to List", "Index")
</p>
