@model IEnumerable<WebQuanLyQuanTraSua.Models.KHACHHANGLA>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HoTen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailKH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoDienThoai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiaChiKH)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HoTen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailKH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoDienThoai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiaChiKH)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaKHLA }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaKHLA }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaKHLA })
        </td>
    </tr>
}

</table>
